/*****************/
/** perso **/
/*****************/
/*
Extra small<576px
Small >=576px <768px
Medium >=768px <992px
Large >=992px <1200px
Extra large >=1200px <1900
XXL >=1900 <3000
XXXl >=3000

Max container width		0px 		576px		768px		992px		1200px		1900px		3000px
Class prefix bootstrap	.col-		.col-sm-	.col-md-	.col-lg-	.col-xl-	.col-xxl-	.col-xxxl
*/
:root {
    --couleurDeSection: #4c4f54;
    --couleurDarken: #21252b;
    --couleurDarkGlob: #282c34;
    --couleurDarkSpe: #2c313c;

    background-color: var(--couleurDarken);
    color: white;
}

body {
    background-color: var(--couleurDarken);
    color: white;
}


/* Extra small devices (portrait phones, less than 576px) and all if not redefine*/
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

html {
    font-size: 80%;
}

.navbar {
    font-size: 1.25rem;
    border-radius: 3px;
}

img {
    border-radius: 3px;
}

div {
    padding: 5px;
    border-radius: 3px;
}

section {
    color: #00ccff;
    background: var(--couleurDeSection);
    display: table-cell;


    height: 100%;
    overflow: auto;

}

section a {
    color: #332510;
}

section a:hover, section a:focus {
    color: #0b6e00;
}

section strong {
    color: #ff0011;
}

html .global {
    background-color: var(--couleurDarken);
    color: white;
}

footer {
    background-color: var(--couleurDeSection);
    padding: 5px;
    border-radius: 3px;
}

.carousel img {
    background-color: #343a40;
    height: 500px;
    width: 100px;
    object-fit: contain;
}

.highlight {
    margin-top: 20px;
    background-color: var(--couleurDeSection);
    height: 350px;
    width: 300px;
    object-fit: contain;
    border-radius: 4%;

}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    opacity: 0;
    background-color: rgba(168, 187, 201, 0.73);
    width: 300px;
    object-fit: contain;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.high:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 1;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .global {
        max-width: 1400px;
        margin: 0 auto;
    }
}

/* xxl devices (large desktops, 1900px and up)*/
@media (min-width: 1900px) {

}

/* xxxl devices (large desktops, 3000px and up)*/
@media (min-width: 3000px) {

}


